@mixin centering--desktop {
  width: 1300px;
  margin: 0 auto;
}

//HEADER
@mixin menu-btn {
  width: 24px;
  height: 18px;
  padding: 0;
  font-size: 0;
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
}

@mixin menu-btn--before {
  content: '';
  display: block;
  width: 24px;
  height: 2px;
  background: #000;
}

@mixin menu-link {
  display: inline-block;
  width: 100%;
  padding: 19px 0;
  font-weight: 500;
  text-transform: uppercase;
  color: #000;
}

@mixin menu-list {
  position: relative;
  z-index: 5;
  text-align: center;
  background: #ffffff;
}

@mixin menu-item--border {
  border-bottom: 1px solid #e6e6e6;
  &:first-of-type {
    border-top: 1px solid #e6e6e6;
  }
}

//LOGO & ICON
@mixin logo--hover {
  &:hover {
    opacity: .8;
  }
}

@mixin logo--active {
  &:active {
    opacity: .6;
  }
}

//BUTTON
@mixin btn--green {
  background: #68b738;
  color: #fff;
}

//FONT
@mixin arial-font {
  font-family: Arial, sans-serif;
  font-weight: 400;
  color: #444;
}

@mixin font-size--36 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

@mixin font-size--14 {
  font-size: 14px;
  line-height: 18px;
}

@mixin font-size__20 {
  font-size: 20px;
  line-height: 20px;
}

@mixin field-text--tablet {
  font-size: 20px;
  line-height: 20px;
}

//INDEX
@mixin title-size {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

@mixin task {
  width: 44.3%;
  height: 55px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
}

@mixin task-text {
  margin: 10px 0;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

@mixin task-description {
  display: block;
  margin: 0 auto;
  width: 57.4%;
  padding: 0 8px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  text-transform: lowercase;
  background: #f2f2f2;
}

@mixin categories {
  margin-bottom: 20px;
  padding: 22px 20px;
  background: #f2f2f2;
}

@mixin categories-logo {
  position: relative;
  float: left;
  &:before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    background: #68b738;
    border-radius: 50%;
  }
}

@mixin categories-title {
  display: inline-block;
  margin-top: 7px;
  margin-left: 20px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
}

@mixin categories-description {
  position: relative;
  margin: 28px 0 20px;
  padding-bottom: 24px;
}

@mixin categories-catalog {
  position: relative;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000;
}

//FORM
@mixin form-item__label {
  display: flex;
  align-items: center;
}

@mixin form-item__text {
  display: inline-block;
  margin: 0;
  margin-right: 10px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

@mixin form-item__field {
  width: 100%;
  height: 45px;
  padding: 0 15px;
  color: #444;
  border: 1px solid #e6e6e6;
  outline: none;
}

@mixin form-item__field--hover {
  transition: border-color ease .3s;
  &:hover {
    border-color: #cdcdcd;
  }
}

@mixin form-item__field--active {
  &:active {
    border: 2px solid #444;
  }
}

@mixin form-item__title {
  position: relative;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

// CATALOG
@mixin plus {
  content: '';
  position: absolute;
  display: inline-block;
  left: 50%;
  width: 30px;
  height: 2px;
  background: #d3d3d3;
}

@mixin green-pin {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -6px;
  margin-left: -6px;
  background: #68b738;
  border-radius: 50%;
}

@mixin green-pin--tablet {
  width: 18px;
  height: 18px;
  margin-top: -9px;
  margin-left: -9px;
}

@mixin green-line {
  content: '';
  position: absolute;
  display: inline-block;
  top: 50%;
  height: 3px;
  margin-top: 3px;
  background: #68b738;
}

@mixin grey-pin {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  border: 1px solid #cecece;
  border-radius: 50%;
}

@mixin grey-pin--tablet {
  width: 40px;
  height: 40px;
  margin-right: 13px;
}

@mixin grey-line {
  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
    margin-top: 1px;
    width: 100%;
    height: 1px;
    background: #d9d9d9;
  }
}

@mixin pin--hover {
  &:hover {
    border-color: #bcbcbc;
  }
}

@mixin pin--active {
  transition: ease .15s;
  &:active {
    opacity: .3;
  }
}

@mixin after-before__pin {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 34px;
  height: 6px;
  margin-top: -3px;
  background: #68b738;
  border-radius: 5px;
}

$left-arrow--after: 115px;

@mixin arrow {
  &:before {
    content: '';
    position: absolute;
    top: 8.335px;
    left: 98px;
    width: 17px;
    height: 2px;
    background: #3e4242;
  }
  &:after {
    content: '';
    position: absolute;
    top: 3.5px;
    left: $left-arrow--after;
    width: 0;
    height: 0;
    border-width: 5px 0 5px 6px;
    border-style: solid;
    border-color: transparent #3e4242;
  }
}

@mixin arrow--hover{
  &:hover:before {
    width: 26px;
    transition: left ease .25s, width ease .25s;
  }
  &:hover:after {
    left: $left-arrow--after + 9px;
    transition: left ease .25s;
  }
}

@mixin arrow--hover-t {
  &:hover:after {
    left: $left-arrow--after + 42px;
  }
}

@mixin arrow--active {
  &:active {
    opacity: .3;
    &:before,
    &:after {
      opacity: .3;
    }
  }
}

@mixin btn--hover {
  &:hover {
    background: #5eaa2f;
  }
}

@mixin btn--active {
  &:active {
    color: #8fc46e;
    background: #5eaa2f;
  }
}

@mixin advantages-number {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -57.5px;
  font-size: 281px;
  line-height: 225px;
  color: #f2f2f2;
}