@font-face {
  font-family: "oswald";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: url('../fonts/Oswald-regular.woff'),
       url('../fonts/Oswald-regular.woff2');
}

@font-face {
  font-family: "oswald";
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  src: url('../fonts/Oswald-medium.woff'),
       url('../fonts/Oswald-medium.woff2');
}

* {
  box-sizing: border-box;
}

body {
  font-family: "oswald", sans-serif;
  font-size: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}