.losing-weight {
  @include categories;
  &__logo {
    @include categories-logo;
  }
  &__icon {
    position: absolute;
    top: -3px;
    left: 8px;
    width: 36px;
    height: 50px;
    transform: scaleX(-1);
  }
  &__title {
    @include categories-title;
  }
  &__description {
    @include categories-description;
    @include arial-font;
    @include font-size--14;
    @include grey-line;
  }
  &__catalog {
    @include categories-catalog;
    @include arrow;
    @include arrow--hover;
    @include arrow--active;
  }
}

@media (min-width: 768px) {
  .losing-weight {
    margin-bottom: 30px;
    padding: 80px 55px 65px;
    &__logo {
      margin-left: 15px;
      padding-right: 5px;
      float: right;
      &:before {
        width: 200px;
        height: 200px;
      }
    }
    &__icon {
      top: -13px;
      left: 30px;
      width: 140px;
      height: 194px;
    }
    &__title {
      margin: 0;
      @include font-size--36;
    }
    &__description {
      min-width: 375px;
      font-size: 16px;
      line-height: 24px;
      &:after {
        content: none;
      }
    }
    &__catalog {
      @include font-size__20;
      @include arrow--hover-t;
      &:before {
        top: 13.335px;
        left: 132px;
      }
      &:after {
        top: 9px;
        left: 149px;
      }
    }
  }
}

@media (min-width: 1300px) {
  .losing-weight {
    display: inline-block;
    width: 570px;
    margin-right: 80px;
    padding: 45px 55px 62px 52px;
    &__logo {
      margin: 0;
      margin-right: 65px;
      float: left;
      &:before {
        width: 100px;
        height: 100px;
      }
    }
    &__icon {
      top: -6px;
      left: 14px;
      width: 70px;
      height: 97px;
    }
    &__title {
      margin-top: 34px;
    }
    &__description {
      margin-top: 80px;
    }
  }
}