.boris {
  margin-bottom: 35px;
  &__text {
    margin: 0;
    margin-bottom: 27px;
    padding-right: 5px;
    @include description-text
  }
}

@media (min-width: 768px) {
  .boris {
    margin: 0;
    &__wrapper {
      padding: 0 30px;
    }
    &__text {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

@media (min-width: 1300px) {
  .boris {
    display: inline-block;
    width: 570px;
    vertical-align: top;
    padding-right: 134px;
    padding-left: 40px;
    &__text {
      margin-bottom: 70px;
    }
  }
}