.social {
  padding-top: 25px;
  padding-bottom: 22px;
  border: 1px solid #d9d9d9;
  &__links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 125px;
    margin: 0 auto;
  }
  &__item {
    display: inline-block;
  }
  &__icon {
    fill: #666;
    transition: ease .2s;
    &:hover {
      fill: #68b738;
    }
    &:active {
      opacity: .6;
    }
  }
}

@media (min-width: 768px) {
  .social {
    padding: 0;
    border: none;

  }
}