.product {
  &__item {
    min-height: 210px;
    padding: 0 20px 25px;
    border-top: 1px solid #ededed;
  }
  &__img {
    float: left;
  }
  &__title {
    margin: 20px 0 13px;
    padding-right: 45px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;
  }
}

.btn-order {
  display: inline-block;
  width: 100%;
  padding: 9.5px 0;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  transition: background ease .3s, color ease .15s;
  @include btn--green;
  @include btn--hover;
  @include btn--active;
}

@media (min-width: 768px) {
  .product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    &__item {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      height: 430px;
      margin: 0 20px;
      margin-top: 140px;
      border-top: none;
      background: #f2f2f2;
    }
    &__img {
      margin-bottom: 20px;
      float: none;
    }
    &__title {
      width: 150px;
      margin: 0;
      margin-bottom: 27px;
      padding: 0;
      text-align: center;
      @include font-size__20;
    }
  }

  .btn-order {
    padding: 10px 94px;
  }

  .goods {
    .btn-order {
      width: 100%;
      margin-bottom: 27px;
      text-align: center;
    }
  }
}

@media (min-width: 1300px) {
  .product {
    justify-content: start;
    :nth-of-type(4n+4) {
      margin-right: 0;
    }
    &__item {
      width: 245px;
      margin: 140px 80px 0 0;
      padding-bottom: 40px;
    }
  }

  .btn-order {
    padding: 10px 54px;
  }

  .goods {
    .btn-order {
      width: 245px;
      margin: 0;
    }
  }
}