.categories {
  &__wrapper {
    padding: 0 20px;
  }
}

@media (min-width: 768px) {
  .categories {
    &__wrapper {
      padding: 0 30px;
    }
  }
}

@media (min-width: 1300px) {
  .categories {
    @include centering--desktop;
    padding-top: 80px;
    &__wrapper {
      padding: 0 40px;
    }
  }
}
