.time {
  @include task;
  &__text {
    @include task-text;
  }
  &__description {
    @include task-description;
    @include arial-font;
  }
}

@media (min-width: 768px) {
  .time {
    margin: 0;
    width: 162px;
    height: 72px;
    margin-right: 21.19%;
    &__text {
      margin: 17.5px 0;
      font-size: 30px;
      line-height: 37px;
    }
    &__description {
      width: 135px;
      margin-top: -10px;
      font-size: 14px;
      line-height: 14px;
      background: #fff;
    }
  }
}

@media (min-width: 1300px) {
  .time {
    margin: 0;
    &__description {
      background: #f2f2f2;
    }
  }
}