.contact {
  padding: 28px 0;
  &__wrapper {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
  }
  &__title {
    width: 50%;
    padding-right: 41px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__address {
    width: 50%;
    margin: 0;
    @include arial-font;
    font-size: 14px;
    line-height: 20px;
  }
  &--grey {
    background: #f2f2f2;
  }
}

@media (min-width: 768px) {
  .contact {
    padding: 68px 0 60px 0;
    &__wrapper {
      padding: 0 70px;
    }
    &__title {
      width: 40%;
      font-size: 20px;
      line-height: 25px;
    }
    &__address {
      width: 25%;
      //--------
      font-size: 16px;
      line-height: 20px;
      //--------
      text-align: right;
    }
  }
}

@media (min-width: 1300px) {
  .contact {
    display: none;
  }
}