.copyright {
  margin: 22px 0;
  transition: ease .2s;
  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: #444;
    &:hover {
      .copyright__icon {
        fill: #68b738;
      }
    }
  }
  &__icon {
    width: 27px;
    height: 34px;
    fill: #666;
    transition: ease .2s;
    &:hover {
      fill: #68b738;
    }
  }
  &:active {
    opacity: .3;
  }
}

@media (min-width: 768px) {
  .copyright {
    margin: 0;
    margin-top: -8px;
    &__icon {
      margin-left: 23px;
    }
  }
}