.extra-goods {
  padding-top: 32px;
  &__wrapper {
    padding: 0 20px;
  }
  &__title {
    position: relative;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    &:before {
      @include green-line;
      right: -20px;
      top: 15px;
      width: 50px;
    }
  }
}

@media (min-width: 768px) {
  .extra-goods {
    &__wrapper {
      padding: 0 30px;
    }
    &__title {
      padding-left: 36px;
      @include font-size--36;
      &:before {
        top: 20px;
        right: -30px;
        width: 327px;
      }
      &:after {
        @include green-line;
        top: 20px;
        left: -30px;
        width: 28px;
      }
    }
  }
}

@media (min-width: 1300px) {
  .extra-goods {
    display: inline-block;
    width: 935px;
    margin-right: 76px;
    padding-top: 77px;
    padding-bottom: 80px;
    &__wrapper {
      padding: 0;
      padding-left: 40px;
    }
    &__title {
      &:before {
        right: -320px;
        width: 800px;
      }
      &:after {
        left: 0;
        width: 20px;
      }
    }
  }
}