.cat {
  padding-bottom: 23px;
}

@media (min-width: 768px) {
  .cat {
    padding-bottom: 72px;
  }
}

@media (min-width: 1300px) {
  .cat {
    display: inline-block;
    width: 570px;
    margin-right: 60px;
    padding-bottom: 0;
  }
}