.result {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &__costs {
    width: 100%;
    margin: 0;
    margin-top: 34px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
  }
}

@media (min-width: 768px) {
  .result {
    justify-content: space-between;
    &__costs {
      width: 191px;
      margin-top: 13px;
      text-align: right;
      @include font-size__20;
    }
  }
}

@media (min-width: 1300px) {
  .result {
    justify-content: space-between;
    flex-wrap: wrap;
    width: 367px;
    &__costs {
      width: 100%;
      margin-top: 60px;
      text-align: left;
    }
    &__price {
      margin-left: 55px;
    }
  }
}