.logotype {
  display: inline-block;
  //margin: 0 auto;
  //margin-top: 24px;
  vertical-align: top;
  @include logo--hover;
  @include logo--active;
}

@media (min-width: 768px) {
  .logotype {
    display: none;
  }
}