.comment {
  padding: 15px 20px;
  &__title {
    @include form-item__title;
    &:after {
      width: 158px;
      right: -20px;
      @include green-line;
    }
  }
  &__area {
    width: 100%;
    height: 150px;
    resize: none;
    padding: 14px;
    font-size: 20px;
    line-height: 24px;
    color: #444;
    border: 1px solid #e6e6e6;
    outline: none;
    @include form-item__field--hover;
    //@include form-item__field--active;
    &::placeholder {
      @include form-item__text;
      color: #444;
    }
    &::-webkit-scrollbar-button {
      display: none;
    }
    &::-webkit-scrollbar-track {
      background: #cdcdcd;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 15px;
      background: #68b738;
    }
    &::-webkit-scrollbar-thumb:hover{
      background: #305619;
    }
    &::-webkit-scrollbar{
      width: 5px;
    }
  }
}

@media (min-width: 768px) {
  .comment {
    padding: 35px 0;
    &__title {
      margin-bottom: 75px;
      @include font-size--36;
      &:after {
        width: 480px;
        right: -70px;
      }
      &:before {
        left: -70px;
        width: 30px;
        @include green-line;
      }
    }
    &__area {
      height: 175px;
      padding: 15px 20px;
      font-size: 20px;
      line-height: 30px;
      &::placeholder {
        font-size: 20px;
        line-height: 30px;
      }
      &::-webkit-scrollbar{
        width: 10px;
      }
    }
  }
}

@media (min-width: 1300px) {
  .comment {
    &__title {
      &:after {
        width: 1041px;
        right: -40px;
      }
      &:before {
        content: none;
      }
    }
  }
}