.logotype-footer {
  margin-bottom: 30px;
  text-align: center;
  transition: ease .2s;
  @include logo--hover;
  @include logo--active;
}

@media (min-width: 768px) {
  .logotype-footer {
    margin: 0;
  }
}