.losing-weight-field {
  &__pin {
    vertical-align: middle;
    @include grey-pin;
    @include pin--hover;
  }
  &__area {
    display: none;
    &:checked~.losing-weight-field__pin:after {
      @include green-pin;
    }
  }
  &__text {
    @include field-text;
    margin-right: 0;
    vertical-align: middle;
  }
  @include pin--active;
}

@media (min-width: 768px) {
  .losing-weight-field {
    &__pin {
      @include grey-pin--tablet;
    }
    &__area {
      &:checked~.losing-weight-field__pin:after {
        @include green-pin--tablet;
      }
    }
    &__text {
      @include field-text--tablet;
    }
  }
}