.phone-number {
  &__label {
    @include form-item__label;
  }
  &__text {
    flex-shrink: 0;
    @include form-item__text;
  }
  &__field {
    @include form-item__field;
    //height: 40px;
    padding-left: 13px;
    padding-right: 35px;
    font-size: 20px;
    line-height: 20px;
    text-overflow: ellipsis;
    background: url("../img/form/phone.png") no-repeat;
    background-position: 95% 10px;
    @include form-item__field--hover;
    @include form-item__field--active;
  }
}

@media (min-width: 768px) {
  .phone-number {
    &__text {
      @include font-size__20;
    }
    &__field {
      height: 52px;
      padding-right: 45px;
      background-position: 96.7% 13px;
    }
  }
}

@media (min-width: 1300px) {
  .phone-number {
    display: inline-block;
    width: 570px;
  }
}