.slider {
  height: 260px;
  text-align: center;
  overflow: hidden;
  &__radio--before,
  &__radio--after{
    display: none;
  }
  &__slide-1,
  &__slide-2 {
    display: none;
  }
}

@media (min-width: 768px) {
  .slider {
    //background: #eaeaea;
  }
}

@media (min-width: 1300px) {
  .slider {
    display: inline-block;
    width: 650px;
    //min-height: 595px;
  }
}