.weight-field {
  margin: 15px 0;
  &__label {
    display: flex;
    align-items: center;
  }
  &__text {
    flex-shrink: 0;
    @include field-text;
  }
  &__area {
    width: 100%;
    height: 45px;
    padding: 13px 15px;
    font-size: 20px;
    line-height: 20px;
    color: #444;
    border: 1px solid #e6e6e6;
    outline: none;
    @include field--hover;
    @include field--active;
  }
}

@media (min-width: 768px) {
  .weight-field {
    width: 100%;
    margin: 20px 0;
    &__text {
      @include field-text--tablet;
    }
    &__area {
      //width: 534px;
      height: 52px;
    }
  }
}

@media (min-width: 1300px) {
  .weight-field {
    &__area {
      //width: 478px;
    }
  }
}