.goods {
  padding: 14px 0 17px;
  border-top: 1px solid #cdcdcd;
  &:last-of-type {
    border-bottom: 1px solid #cdcdcd;
  }
  &__title {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
  }
}

@media (min-width: 768px) {
  .goods {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 27px 38px 0;
    &__title {
      width: 50%;
      margin-bottom: 27px;
      @include font-size__20;
      text-transform: uppercase;
    }
  }
}

@media (min-width: 1300px) {
  .goods {
    justify-content: start;
    align-items: baseline;
    padding: 15px 0;
    &__title {
      width: 245px;
      margin: 0;
      margin-right: 80px;
    }
  }
}