.questionnaire {
  padding-top: 38px;
  &__btn-submit {
    display: block;
    width: 87.5%;
    margin: 0 auto;
    font-size: 16px;
    line-height: 20px;
    border: none;
    cursor: pointer;
    @include btn--green;
    @include btn--hover;
    @include btn--active;
  }
  &__required-fields {
    margin: 0;
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    @include arial-font;
  }
}

@media (min-width: 768px) {
  .questionnaire {
    padding-top: 78px;
    &__btn-submit {
      display: inline-block;
      padding: 0;
      width: 45.38%;
      height: 52px;
      margin-right: 60px;
      @include font-size--20;
    }
    &__required-fields {
      display: inline-block;
      font-size: 16px;
    }
  }
}

@media (min-width: 1300px) {
  .questionnaire {
    padding-top: 65px;
    &__btn-submit {
      width: 46.73%;
    }
  }
}