.food {
  padding-top: 27px;
  text-align: center;
  color: #fff;
  &__title {
    max-width: 405px;
    margin: 0 auto;
    margin-bottom: 24px;
    @include font-size--36;
  }
  &__description {
    margin: 0;
    margin-bottom: 28px;
    //-----
    font-size: 14px;
    line-height: 14px;
    //-----
    text-transform: uppercase;
  }
}

@media (min-width: 768px) {
  .food {
    padding-top: 58px;
    width: 457px;
    text-align: left;
    color: #000;
    &__title {
      max-width: 100%;
      margin-bottom: 43px;
      font-size: 60px;
      line-height: 60px;
    }
    &__description {
      margin-bottom: 60px;
      @include font-size__20;
    }
  }
}

@media (min-width: 1300px) {
  .food {
    padding-top: 225px;
    &__description {
      margin-bottom: 70px;
    }
  }
}