.mass-gathering {
  @include categories;
  &__logo {
    @include categories-logo;
  }
  &__icon {
    position: absolute;
    top: 11px;
    left: -10px;
    width: 72px;
    height: 30px;
  }

  &__title {
    @include categories-title;
  }
  &__description {
    @include categories-description;
    @include arial-font;
    @include font-size--14;
    @include grey-line;
  }
  &__catalog {
    @include categories-catalog;
    @include arrow;
    @include arrow--hover;
    @include arrow--active;
  }
}

@media (min-width: 768px) {
  .mass-gathering {
    padding: 80px 55px 65px;
    &__logo {
      margin-left: 45px;
      padding-right: 5px;
      float: right;
      &:before {
        width: 200px;
        height: 200px;
      }
    }
    &__icon {
      top: 45px;
      left: -35px;
      width: 268px;
      height: 112px;
    }
    &__title {
      margin: 0;
      @include font-size--36;
    }
    &__description {
      min-width: 340px;
      //----------
      font-size: 16px;
      line-height: 24px;
      //----------
      &:after {
        content: none;
      }
    }
    &__catalog {
      @include font-size__20;
      &:before {
        top: 13.335px;
        left: 132px;
      }
      &:after {
        top: 9px;
        left: 149px;
      }
      @include arrow--hover-t;
    }
  }
}

@media (min-width: 1300px) {
  .mass-gathering {
    display: inline-block;
    width: 570px;
    padding: 45px 55px 62px 52px;
    &__logo {
      margin: 0;
      margin-right: 65px;
      float: left;
      &:before {
        width: 100px;
        height: 100px;
      }
    }
    &__icon {
      top: 22px;
      left: -20px;
      width: 134px;
      height: 56px;
    }
    &__title {
      margin-top: 34px;
    }
    &__description {
      margin-top: 80px;
    }
  }
}